---
import Badge from "../components/Badge.astro";
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import LinkedinIco from "../icons/LinkedinIco.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIco from "../icons/GithubIco.astro";
import MailIco from "../icons/MailIco.astro";
import DocumentIco from "../icons/DocumentIco.astro";
import SuitcaseIco from "../icons/SuitcaseIco.astro";
import ReactIco from "../icons/ReactIco.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="px-4">
    <Container class="py-36 pb-48">
      <img
        class="size-10 lg:size-20 rounded-full mb-7"
        src="https://avatars.githubusercontent.com/pedromocco"
      />
      <h1 class="text-white text-3xl lg:text-5xl font-bold flex gap-x-4 pb-4 opacity-80">
        Hola! Soy Pedro Moccó <div class="flex justify-center items-center">
          <Badge>Abierto a trabajar</Badge>
        </div>
      </h1>
      <h2 class="text-xl lg:text-2xl opacity-80">
        Desarrollador Front-End Venezuela especializado en <span
          class="font-bold text-blue-500">React</span
        >, desarrollo visual y en resiliencia.
      </h2>
      <p class="text-sm opacity-60 mt-4">
        Determinado a efrentar cualquier desafio y emocionado por poder
        contribuir a soluciones tecnologicas
      </p>

      <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/pedromocco/">
          <LinkedinIco class="size-4 lg:size-6" />
          Linkedin
        </SocialPill>
        <SocialPill href="https://www.github.com/pedromocco/">
          <GithubIco class="size-4 lg:size-6" />
          Github
        </SocialPill>
        <SocialPill href="">
          <MailIco class="size-4 lg:size-6" />
          Correo
        </SocialPill>
        <SocialPill href="">
          <DocumentIco class="size-4 lg:size-6" />
          CV
        </SocialPill>
      </nav>
      <!-- <div>
        <img
          class="w-[300px] h-[300px] rounded-full object-cover"
          src="https://www.origastock.com/images/3d-characters/download/5.png"
          alt="Pedro Mocco"
        />
      </div> -->
    </Container>
    <Container id="experience">
      <h2 class="text-3xl font-bold mb-6 flex gap-x-2 items-center">
        <SuitcaseIco class="size-10" />Experiencia laboral
      </h2>
      <Experience />
    </Container>
    <Container id="projects">
      <h2 class="text-3xl font-bold mb-6 flex gap-x-2 items-center">
        <ReactIco class="size-10" />Proyectos
      </h2>
      <Projects />
    </Container>
  </main>
</Layout>
