---

---

<div class="flex flex-col md:flex-row items-center md:items-start p-4">
  <div class="w-full md:w-1/2 p-4">
    <img
      src="https://img.freepik.com/premium-photo/happy-cartoon-3d-programmer-hacker-designer-characters_680902-679.jpg?w=360"
      alt="Profile Picture"
      class="rounded-full w-48 h-48 md:w-64 md:h-64 mx-auto md:mx-0"
    />
  </div>
  <div class="md:w-1/2 p-4 font-thin text-pretty">
    <p class="text-lg opacity-60">
      ¡Hola! Soy Pedro Mocco, un desarrollador apasionado por la tecnología y la
      programación. Me encanta crear soluciones innovadoras y eficientes para
      problemas complejos. Tengo experiencia en diversas tecnologías y siempre
      estoy buscando aprender y mejorar mis habilidades.
    </p>
  </div>
</div>
