<header class="flex flex-row justify-center py-9 w-full ">
  <nav class="flex flex-row gap-x-10 opacity-80 ">
    <a href="#top">Inicio</a>
    <a href="#experience">Experiencia</a>
    <a href="#contact">Contacto</a>
    <a href="#projects">Proyectos</a>
    <a href="#about">Sobre mi</a>
  </nav>
</header>