<a
  class="rounded-full bg-black/30 
  flex justify-center items-center 
  gap-x-2 
  px-4 py-1 
  text-xs lg:text-base
  hover:scale-105
  hover:bg-white/10 transition"
  target="_blank"
  rel="noopener"
  href={Astro.props.href}
>
  <slot />
</a>
<!-- rounded-full bg-black/30 flex justify-center items-center gap-x-2 px-4 py-1 hover:scale-105
hover:bg-white/10 transition -->
